@font-face {
    font-family: RobotoHosted;
    src: url(./font/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: RobotoHosted;
    src: url(./font/Roboto-Bold.ttf);
    font-weight: 700;
}

/* 
  Colors
*/
:root {
    --blue-l2: #90caf9;
    --blue-l1: #42a5f5;
    --blue: #2196f3;
    --blue-d1: #1976d2;
    --blue-d2: #0d47a1;

    --grey-l2: #f5f5f5;
    --grey-l1: #e0e0e0;
    --grey: #9e9e9e;
    --grey-d1: #616161;
    --grey-d2: #212121;

    --black: #000000;
    --white: #ffffff;

    --primary-text-color: #141414;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: normal;
}

body {
    font-family: 'RobotoHosted', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-weight: 400;
    color: var(--primary-text-color);
    position: relative;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* RESETS */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    height: 100%;
    width: 100%;
}

::placeholder {
    color: var(--grey);
    font-size: 1.2rem;
}

.navbar {
    background: #fafafa;
    height: 5rem;
    line-height: 5rem;
    /* border-bottom: 1px solid var(--grey-l1); */
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.brand {
    margin: 0 0 0 5rem;
    font-size: 2.5rem;
    font-weight: 500;
}
.menu-box {
    margin: 0 5rem 0 0;
    /* font-size: 1.4rem; */
    font-weight: 500;
}
.menu-items {
    width: 7rem;
    margin: 0 5px 0 5px;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    transition: all 0.2sec;
    cursor: pointer;
}

.menu-items:hover {
    color: var(--blue);
}

@media only screen and (max-width: 600px) {
    .navbar {
        justify-content: center;
    }
    .brand {
        display: none;
    }
    .menu-box {
        margin: 0 0 0 0;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

.home {
    background: yellow;
    padding: 5rem;
    position: relative;
}

.home-text {
    position: absolute;
    top: 20rem;
    left: 10rem;
}

.home-text .line-hi {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 100;
    margin-bottom: 2rem;
}
.home-text .line-name {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 100;
    margin: 0 0 8rem 10rem;
}
.home-text .line-branding {
    font-size: 7rem;
    line-height: 5rem;
}

.about {
    background: green;
}
.work {
    background: orange;
}
